{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex p-5 my-5 text-center justify-content-center align-items-center">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col">
                <div class="card">
                    <a class="text-decoration-none text-black" href="{{ path('fish-details') }}">
                        <img src="{{ asset('img/fish/tuna-pizza.png') }}" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tuna pizza</h5>
                            <button type="button" class="btn btn-success text-nowrap">+</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a class="text-decoration-none text-black" href="{{ path('fish-details') }}">
                        <img src="{{ asset('img/fish/smoked-salmon-pizza.png') }}" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Smoked Salmon pizza</h5>
                            <button type="button" class="btn btn-success text-nowrap">+</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a class="text-decoration-none text-black" href="{{ path('fish-details') }}">
                        <img src="{{ asset('img/fish/shrimp-scampi-pizza.png') }}" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Shrimp Scampi pizza</h5>
                            <button type="button" class="btn btn-success text-nowrap">+</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
