{% extends 'base.html.twig' %}

{% block header %}
    <header id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/header-meat.png') }}" class="d-block w-100">
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
    <div class="container d-flex p-5 my-5 text-center justify-content-center align-items-center">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col">
                <div class="card">
                    <a href="{{ path('fish') }}">
                        <img src="{{ asset('img/meat/pepperoni-pizza.png') }}" class="card-img-top img-fluid" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Pepperoni pizza</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="{{ path('meat') }}">
                        <img src="{{ asset('img/meat/bbq-chicken-pizza.png') }}" class="card-img-top img-fluid" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">BBQ Chicken pizza</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="{{ path('vegetarian') }}">
                        <img src="{{ asset('img/meat/meat-lovers-pizza.png') }}" class="card-img-top img-fluid" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Meat Lovers pizza</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
